/* Fonts */
    @font-face {
      font-family: 'Polt Regular';
      font-style: normal;
      font-weight: normal;
      src: url(../fonts/Polt-Regular.woff);
    }

zoomLink {
  color: #1D9AF2;
  background-color: #292D3E;
  border: 1px solid #1D9AF2;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Polt Regular';
}